In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
url = "https://raw.githubusercontent.com/Statology/Python-Guides/main/default.csv"
data = pd.read_csv(url)

In [3]:
#define the predictor variables and the response variable
X = data[['student', 'balance', 'income']]
y = data['default']

#split the dataset into training (70%) and testing (30%) sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state=0) 

#instantiate the model
log_regression = LogisticRegression()

#fit the model using the training data
log_regression.fit(X_train,y_train)

LogisticRegression()

In [4]:
#use model to predict probability that given y value is 1
y_pred_proba = log_regression.predict_proba(X_test)[::,1]

#calculate AUC of model
auc = metrics.roc_auc_score(y_test, y_pred_proba)

#print AUC score
print(auc)

0.8993191899969176

In [6]:
data.head(20)

    default  student      balance        income
0         0        0   729.526495  44361.625074
1         0        1   817.180407  12106.134700
2         0        0  1073.549164  31767.138947
3         0        0   529.250605  35704.493935
4         0        0   785.655883  38463.495879
5         0        1   919.588530   7491.558572
6         0        0   825.513331  24905.226578
7         0        1   808.667504  17600.451344
8         0        0  1161.057854  37468.529288
9         0        0     0.000000  29275.268293
10        0        1     0.000000  21871.073089
11        0        1  1220.583753  13268.562221
12        0        0   237.045114  28251.695345
13        0        0   606.742343  44994.555849
14        0        0  1112.968401  23810.174050
15        0        0   286.232560  45042.413036
16        0        0     0.000000  50265.312354
17        0        1   527.540184  17636.539617
18        0        0   485.936864  61566.106118
19        0        0  1095.072735  26464.631389

In [ ]:
# https://www.statology.org/auc-in-python/
# https://www.statology.org/interpret-roc-curve/